*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a
{
	text-decoration: none;
}
ul
{
	list-style: none;

}
.active
{
	color: #0d261a;
	text-decoration: underline;
	font-weight: bold;
}
/*navbar*/
.navbar{

	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	color: #fff;
}
.nav-links{
	display: flex;
	align-items: center;
}
.nav-links li{
	margin: 0 30px;
}

header{
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg);
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.header-content{
	margin-bottom: 200px;
	color: #264d00;
	text-align: center;
}
.header-content h2{
	font-size: 5vmin;
}
.line{
	width: 150px;
	height: 3px;
	background: #0d261a;
	margin: 10px auto;
	border-radius: 5px;
}
.header-content h1{
	font-size: 6vmin;
	margin-top: 50px;
	margin-bottom: 30px;
}
.button
{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn
{
	border: 1px solid #ccffcc;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover
{
	background-color: #ccffcc;
	color: #000;	
}
.menu-btn{
	position: absolute;
	top: 30px;
	right: 30px;
	width: 40px;
	cursor: pointer;
	display: none;
}

/*Mobile device*/
@media only screen and (max-width: 850px)
{
	.menu-btn{
		display: block;
	}
	.navbar{
		padding: 0;
	}
	.logo{
		position: absolute;
		top: 30px;
		left: 30px;
	}
	.nav-links{
		flex-direction: column;
		width: 100%;
		height: 100vh;
		justify-content: center;
		background: #85e085;
		margin-top: -900px;
		transition: all 0.5s ease;
	}
	.mobile-menu{
		margin-top: 0px;
		border-bottom-left-radius: 30%;
	}
	.nav-links li{
		margin: 30px auto;
	}
}