*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a
{
	text-decoration: none;
}


header{
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg);
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.header-content{
	margin-bottom: 200px;
	color: #264d00;
	text-align: center;
}
.header-content h2{
	font-size: 5vmin;
}
.line{
	width: 150px;
	height: 3px;
	background: #0d261a;
	margin: 10px auto;
	border-radius: 5px;
}
.header-content h1{
	font-size: 6vmin;
	margin-top: 50px;
	margin-bottom: 30px;
}
.button
{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn
{
	border: 1px solid #ccffcc;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover
{
	background-color: #ccffcc;
	color: #000;	
}

